@charset "utf-8";
@font-face{ 
 font-family: Furore;
 src: url(fonts/Furore-webfont.woff);
}

/* CSS Document */
html, body {
}

body {
  Background-image: url(img/bg/bg0.png);
  font-family: sans-serif;
  color: #FFFFFF
  /* background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; */
}

a {
	color: #D0D0D0;
}

.flex-feed{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post{
	margin: 10px 0px;
	text-align: center;
	width: 50%;
	background-color: #2D2D2D;
	padding: 0px 0px 0px 0px;
	border-radius: 6px
}
.post > img{
	display: block;
	width: 100%;
}
.post > video{
	display: block;
	width: 100%;
}
.post > div{
	background-color: #131313; 
	padding: 1px 0px 1px 0px; 
	border-radius: 6px 6px 0px 0px
}
.post > div > p{ /* Шапка поста */
	font-size: 14pt;
	text-align: center;
}
.post > p{ /* Тело поста */
	height: 8px;
	text-align: center;
}

.logo{
	text-align: center;
	margin: 50px 0px 10px 0px;
	width: 50%;
	background-color: #2D2D2D;
	padding: 0px 0px 0px 0px;
	border-radius: 6px
}

.headbar{
	position: fixed;
	width: auto;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: #3D3D3D; 
	padding: 0px 4px 0px 4px; 
	border-radius: 0px 0px 6px 6px;
	box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.2);
}
.headbar > a > img{
  cursor: pointer;
  text-decoration: none;
  background-color: #515357;
  border-radius: 6px;
  padding: 1px 1px;
  margin-top: 4px;
  color: #fff;
  box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.headbar > a > img:hover, .menu > li:hover {  
  box-shadow: 0 25px 18px -6px rgba(0, 0, 0, 0.2);
  background-color: #63b2fc;
  color: #fff;
}
.headbar > span{
  font-size: 28pt;
  font-family: Furore;
  text-align: center;
  vertical-align: super;
}

.menu{
	cursor: pointer;
	right: 5px;
	position: fixed;
	visibility: hidden;
	margin-top: 45px;
	text-align: center;
	width: 10%;
	background-color: #2D2D2D;
	padding: 0px 0px 0px 0px;
	border-radius: 6px;
	box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.2);
	list-style-type: none;
	-moz-transition: all 0.4s;
}
.menu > li:first-of-type{
	border-radius: 6px 6px 0px 0px;
	margin: 0px;
}
.menu > li{
	font-size: 13pt; 
	background-color: #3D3D3D;
	padding: 8px 0px;
	margin: 2px 0px;
	
}
.menu > li:last-of-type{
	border-radius: 0px 0px 6px 6px;
	margin: 0px;
}

.flex-page-btn {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 
.flex-page-btn > a{
  font-size: 20px;
  text-decoration: none;
  background-color: #515357;
  border-radius: 6px;
  padding: 10px 14px;
  color: #fff;
  box-shadow: 0 18px 13px -6px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
} 
.flex-page-btn > a:hover{
  box-shadow: 0 25px 18px -6px rgba(0, 0, 0, 0.2);
  background-color: #63b2fc;
  color: #fff;
} 
.flex-page-btn > span{
  font-size: 20px;
  text-decoration: none;
  background-color: #373b42;
  border-radius: 6px;
  padding: 10px 14px;
  color: #fff;
  box-shadow: 0 18px 13px -6px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
} 

.btn-page {
  text-decoration: none;
  background-color: #515357;
  border-radius: 8px;
  padding: 5px 5px;
  color: #fff;
  box-shadow: 0 18px 13px -6px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.btn-page:hover {
  box-shadow: 0 25px 18px -6px rgba(0, 0, 0, 0.2);
  background-color: #63b2fc;
  color: #fff;
}
